.Container{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr)) ;
  gap: 10px;
  justify-items: center;
  padding-bottom: 10px;
}
.Title{
  text-align: center;
  padding-top: 2px;
  align-items: center;
  justify-items: center;
}
.Card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
}
.Card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}